/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs//build/css/alertify.min.css';
@import '../node_modules/alertifyjs//build/css/themes/bootstrap.min.css';
@import '../node_modules/alertifyjs//build/css/themes/default.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/* "@angular/material/prebuilt-themes/pink-bluegrey.css", */
/* cmmd-app\angular.json */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

}

mat-label {
    color: black;
}

.mat-mdc-dialog-container .mdc-dialog__title {
    color: white;
    background: #00599C;
}

mat-dialog-content {
    background-color: white;
}

.mat-mdc-dialog-container {
    --mdc-dialog-container-color: white;
    --mdc-dialog-subhead-color: white;
    --mdc-dialog-subhead-size: 20px;
}
.mat-mdc-dialog-content {
    max-height: 100vh;
}

.mat-mdc-select-arrow svg {
    color: black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black;
}

.mat-mdc-select-value-text {
    color: black;
}

.mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: #C8CCCE;
    --mdc-protected-button-label-text-color: black;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #00599C;
    --mdc-protected-button-label-text-color: white;
}

.mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix {
    align-self: center;
    line-height: 0;
    pointer-events: auto;
    color: black;
}


.backgroundblur {
    backdrop-filter: blur(3px);
}


@media only screen and (max-width: 560px) {
    .backgroundblur {
        width: 100%;
    }
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: auto;
    
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-top: 15%;
    right:0 ;
}



@media only screen and (max-width: 950px) {
    .dialog-responsive {
        width: 100vw !important;
    }
}

th{
    font-weight: 500;
    background-color:#00599C;
    color: white;
}

.country-selector {
    opacity: 1 !important;
    display: flex !important;
    justify-content: flex-start !important;
}

input.country-search{
    padding: 0 !important;
    text-align: center;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: 30px !important;
}

@media only screen and (max-width: 1102px) 
{
    .country-selector {
        width: 11.5% !important;
    }
}
