.formcontainer{
    padding: 0% 5% 5% 5%;
}
h4{
    text-align: center;
    font-size: 30px;
    font-style:normal;
    font-weight: 500;
    margin: 10% 0% 6% 0%;
}
input{
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 6px 4px #cccdcf;
    padding-left: 20px;

}
:placeholder-shown{
    font-size: 15px;
}
.buttonClass{
    display: flex;
    justify-content: space-around;
}

button{
    padding: 4% 12% 4% 12%;
    border: 1px white;
    border-radius: 5px;
    background-color: #00599C;
    color: white;
    font-size: 15px;
}
button:enabled{
    cursor: pointer;
}
button:disabled{
    color:rgba(0, 0, 0, 0.6);
}
