<div class="formcontainer">
  <h4>Reset Password</h4>

  <form [formGroup]="resetPasswordForm">
    <input
      type="password"
      name="password"
      placeholder="Old Password"
      formControlName="password"
    /><br />

    <mat-error *ngIf="password && password.invalid && password.touched">
      <strong>Required</strong>
    </mat-error>
    <br />

    <input
      type="password"
      name="newPassword"
      placeholder="New Password"
      formControlName="newPassword"
    /><br />
    <mat-error
      *ngIf="newPassword && newPassword.invalid && newPassword.touched"
    >
      <strong>Password Invalid</strong>
    </mat-error>
    <br /><br />
  </form>
  <div class="buttonClass">
    <button (click)="close()">Close</button>
    <button
      [disabled]="resetPasswordForm.invalid"
      (click)="resetPassword()"
      type="submit">
      Reset
    </button>
  </div>
</div>
