<button (click)="backButton()" class="buttonBack">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="container">
  
  <table>
    <tr>
      <td>Account ID</td>
      <td>{{accountDetails?.accountId}}</td>
    </tr>
    <tr>
      <td>GSTIN</td>
      <td>{{accountDetails?.gstin}}</td>
    </tr>
    <tr>
      <td>Account Name</td>
      <td>{{accountDetails?.accountName}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{accountDetails?.email}}</td>
    </tr>
    <tr>
      <td>Manager</td>
      <td>{{accountDetails?.manager}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{accountDetails?.location}}</td>
    </tr>
    <tr>
      <td>Year of Establishment</td>
      <td>{{accountDetails?.yearOfEst}}</td>
    </tr>
    <tr>
      <td>No of Employees</td>
      <td>{{accountDetails?.noOfEmp}}</td>
    </tr>
    <tr>
      <td>No of Department</td>
      <td>{{accountDetails?.noOfDept}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{accountDetails?.phoneNo}}</td>
    </tr>
    <tr>
      <td>Operating Hours</td>
      <td>{{accountDetails?.operatingHours}}</td>
    </tr>
    <tr>
      <td>Revenue</td>
      <td>{{accountDetails?.revenue}}</td>
    </tr>
    <tr>
      <td>Expenses</td>
      <td>{{accountDetails?.expenses}}</td>
    </tr>
    <tr>
      <td>Profit</td>
      <td>{{accountDetails?.profit}}</td>
    </tr>
    <tr>
      <td>Services Offered</td>
      <td>{{accountDetails?.servicesOffered}}</td>
    </tr>
  </table>
</div>