<button (click)="backButton()" class="buttonBack">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="accounts">

    <div class="tablecustomer">
        <div class="table_section">
            <table>
                <tbody>
                    <tr class="body-row">
                        <td  class="blockdata" rowspan="3"><img src="{{customerDetail?.logo}}" alt=""></td>
                        <td class="blockdata">
                            <tr>
                                <td class="title">Name : </td>
                                <td>{{customerDetail?.customerName}}</td>
                            </tr>
                        </td>
                        <td  class="blockdata">
                            <tr>
                                <td class="title">Type : </td>
                                <td>{{customerDetail?.typeOfCompany}}</td>
                            </tr>
                        </td>
                        <td  class="blockdata">
                            <tr>
                                <td class="title">Phone No : </td>
                                <td>{{customerDetail?.phoneNo}}</td>
                            </tr>
                        </td>
                    
                    </tr>
                    <tr class="body-row">

                        <td  class="blockdata">
                            <tr  >
                                <td class="title">GSTIN : </td>
                                <td>{{customerDetail?.gstin}}</td>
                            </tr>
                        </td>
                        <td  class="blockdata">
                            <tr>
                                <td class="title">Country Code : </td>
                                <td>{{customerDetail?.countryCode}}</td>
                            </tr>
                        </td>
                        
                       
                        <td  class="blockdata">
                            <tr>
                                <td class="title">Website : </td>
                                <td><a href="{{customerDetail?.website}}">{{customerDetail?.website}}</a></td>
                            </tr>
                        </td>

                    </tr>
                    <tr class="body-row">

                        <td  class="blockdata">
                            <tr>
                                <td class="title">Email : </td>
                                <td><a href = "mailto:{{customerDetail?.email}}">{{customerDetail?.email}}</a></td>
                            </tr>
                        </td>
                       
                        <td  class="blockdata" colspan="2">
                            <tr>
                                <td class="title">Headquarter : </td>
                                <td>{{customerDetail?.headquarter}}</td>
                            </tr>
                        </td>
                    
                    </tr>

                    <br>
                    <tr>
                        <td  class="blockdata" colspan="4">{{customerDetail?.description}}</td>
                    </tr>
                    <tr>
                        <td>
                            
                            <button class="plot_button" (click)="plotOnMap()">Plot Accounts On Map</button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            

            <div class="tableaccounts">
                <div class="tablebody">
                    <table>
                        <thead>
                            <tr>
                                <th class="center-align">Account ID</th>
                                <th>Account Name</th>
                                <th colspan="3">Location</th>
                      
                                <th >Email</th>
                                <th class="center-align">Year of Establishment</th>
                                <th></th>
                            </tr>
                            <br>
                        </thead>

                        <tbody class="accountlist">
                            <tr class="body-row" *ngFor="let account of accountList|paginate: {itemsPerPage: pageSize, currentPage: pageNumber, totalItems:totalAccount}"  >
                              <td class="center-align" routerLink="/customer/{{customerDetail?.gstin}}/accounts/{{account?.email}}" data-title="Account ID">{{account?.accountId}}</td>
                              <td class="left-align" routerLink="/customer/{{customerDetail?.gstin}}/accounts/{{account?.email}}" data-title="Account Name">{{account?.accountName}}</td>
                              <td colspan="3" class="left-align" routerLink="/customer/{{customerDetail?.gstin}}/accounts/{{account?.email}}" data-title="Location">{{account?.location}}</td>

                              <td  class="left-align" routerLink="/customer/{{customerDetail?.gstin}}/accounts/{{account?.email}}" data-title="Email"> <a href = "mailto:{{account.email}}">{{account.email}}</a></td>
                             
                              <td class="center-align" routerLink="/customer/{{customerDetail?.gstin}}/accounts/{{account?.email}}" data-title="YearOFEst">{{account?.yearOfEst}}</td>
                              <td class="button-align">
                                
                                <button class="update_btn" (click)="updateAccount(account?.email)">Update</button>
                                <button  class="delete_btn" (click)="deleteAccount(account?.email)">Delete</button>                                    
                              </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="paginationclass">
                        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

